@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.5;

}

header section.normal {
    padding: 20px;
}

header.normal {
    padding: 30px;
}

p {
    margin-bottom: 10px;
    text-align: justify;
}
h1, h2 {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

section.flex-content {
    background-color: rgb(205, 204, 204);
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
}


img {
    height: 347px;

}

/* section > article {
    border: 2px dashed green;
} */

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}


article > div.text {
    flex: 1 1 500px;

    /* border: 2px dashed blue; */
}

article > div.media {
    flex: 1 0 400px;

    /* border: 2px dashed red; */
}

div.media > img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
div.media > iframe {
    display: block;
    margin: auto;
    width: 90%;
    max-width: 700px;
}