@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #F2F2F2, #BF5F56);
}

main {
    background-color: white;
    width:  600px;
    padding: 10px;
    margin: auto; 
    border-radius: 20px;
    box-shadow: 5px 5px 15px #4040408f;
}

h1 {
    color: #0D0D0D;
    text-align: center;
    text-shadow: 1px 1px 2px #0d0d0d88;
}

h2 {
    color: #404040;
}

p {
    text-align: justify;
}