@charset "UTF-8";


/* estilo para tela */


* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header {
    background-color: rgb(158, 158, 158);
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: gray;
}

menu li {
    display: inline-block;
    padding: 10px;
    font-weight: bolder;
    color: white;
    background-color: rgb(98, 98, 98);
}

article {
    width: 600px;
    display: block;
    
}