@charset "UTF-8";

main {
    font-family: Arial, Helvetica, sans-serif;
}

.div-pesonalizada {
    display: inline-block;
    background-color: lightgray;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    border-radius:  10px ;
    margin-top: 2px;
}

.div-pesonalizada:hover {
    background-color: lightblue;
}

.hover-txt {
    color: black;

}

.hover-txt>p {
    display: None;
}

.hover-txt:hover>p {
    display: block;
    color: white;
    background-color: red;
}

.hover-txt:hover {
    background-color: lightcoral;

}