@charset "UTF-8";

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


a:visited {
    color: darkred;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: black;
}


a::after {
    content: ' [link]';

}

p::first-letter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    text-shadow: 1px 1px 2px #0d0d0d88;
    font-size: 2em;
}