@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

div {
    border-radius: 10px;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: rgb(255, 90, 90);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
}

.caixa2 {
    background-color: rgb(109, 244, 109);
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3 {
    background-color: rgb(150, 150, 235);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}